body,h1,h2,h3,h4,h5,h6 {font-family: ''Oswald'', sans-serif;}
body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}

.about {
    font-family: 'Rock Salt', cursive;
    font-size: 18px;
    text-indent: 50px;
}

p {
    text-align: justify;
}

.body{
    background-image: url('Images/BrickBackground.jpg');
    background-position: center;
    max-width: 100%;
    overflow-x: hidden;
}

.contentBG{
    background-color: white;
    padding: 10px;
}

.portDesc{
    text-align: justify;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px black;
}

.box-shadow {
    box-shadow: 10px 10px 30px gray;
}

.inset_box-shadow {
    box-shadow: inset 0 0 20px black;
}


a {
    text-decoration: none;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('Images/DestructionIsEvolutionary_Cover.jpg');
    min-height: 100%;
    min-width: 100%;
}

/* Second image (Releases) */
.bgimg-2 {
    background-image: url("Images/DestructionIsEvolutionary.jpg");
    min-height: 200px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("Images/DestructionIsEvolutionary.jpg");
    min-height: 200px;
}

.bgimg-4 {
    background-image: url("Images/Smoke.jpg");
    min-height: 200px;
    background-size: cover;
}


#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; width:100%;
}

.button {
    background-color: black;
    color: white;
}


.w3-wide {letter-spacing: 10px;} 
.w3-hover-opacity {cursor: pointer;}



/* Turn off parallax scrolling for tablets and phones*/ 
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* FOR MOBILE */
@media (max-width: 499px) {
    .bgimg-1 {
        background-image: url('Images/DestructionIsEvolutionary.jpg');
        background-repeat: no-repeat;
        min-height: 100%;
        min-width: 100%;
    }

    .sectionHeader {
        letter-spacing: 1px;
        max-width: 100%;
    }
}

/* FOR DESKTOP */
@media (min-width: 500px) {
    .bgimg-1  {
        background-image: url('Images/DestructionIsEvolutionary_Cover.jpg');
        background-repeat: no-repeat;
        min-height: 100%;
    min-width: 100%;
    }

    .sectionHeader {
        letter-spacing: 10px;
        max-width: 100%;
    }
}

